<div class="container" style="background-color:rgb(53, 104, 151);color:black;">
    <br><h3>WE ALWAYS LOVE TO HEAR FROM YOU</h3><br>   
    <p>We have a very friendly team for your support. Please feel free to contact us for any issue you are facing. Keep us updated with issues as soon as possible for quick response and actions to be taken accordingly. Thanks for understanding and beng co-operative with us. </p>
    <div>
        <h5>MAIL US HERE </h5><p> xx.xxxx@xxx.com</p>
        <h5>CALL US HERE </h5> FOR INDIA ONLY <h6></h6><p> + 91 - 999999999</p>
    <br><br><p> </p></div>
</div>