<!-- <div *ngIf="error" class="alert alert-info">
{{error}}
  </div> -->
  <h2>Please get Registered to proceed with Login</h2>  
    
  <form enctype="form"  (ngSubmit)="onSubmit()">  
    
    <div class="form-group">  
      <div class=" col-md-offset-1 col-md-4">  
          <label for="email"> Email </label>  
          <input class="form-control" type="text" id="email" required [(ngModel)]="admin.email" name="email">   
      </div>  
    </div>  
    <div class="form-group">  
        <div class=" col-md-offset-1 col-md-4">  
            <label for="password"> Name </label>  
            <input class="form-control" type="name" id="name" required [(ngModel)]="admin.name" name="name">   
        </div>  
      </div>   
    <div class="form-group">  
      <div class=" col-md-offset-1 col-md-4">  
          <label for="password"> Password </label>  
          <input class="form-control" type="password" id="password" required [(ngModel)]="admin.password" name="password">   
      </div>  
    </div>  
    
    <div class="row" style="margin-top: 40px;">  
      <div class="col-md-offset-1 col-md-4">  
          <button class="btn btn-md btn-primary btn-style"  >Register</button>  
      </div>  
    </div>  
    
  </form>  
  