<h3>Insert Screen</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Screen Name</label>
      <input type="text" class="form-control" id="screenName" required [(ngModel)]="screen.screenName" name="screenName">
    </div> 

    <div class="form-group">
      <label for="name">Total No Of Seats</label>
      <input type="text" class="form-control" id="totalNoOfSeats" required [(ngModel)]="screen.totalNoOfSeats" name="totalNoOfSeats">
    </div>

    <div class="form-group">
      <label for="name">Theater Id</label>
      <input type="text" class="form-control" id="screen.theater.theaterId" required [(ngModel)]="screen.theater.theaterId" name="screen.theater.theaterId">
    </div>

    <div class="form-group">
        <label for="name">Movie Id</label>
        <input type="text" class="form-control" id="movieId" required [(ngModel)]="screen.movie.movieId" name="movieId">
      </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted Screen Details successfully!</h4>
</div>