<div class="container" style="background-color:rgb(53, 104, 151);color:black;">
    <br><h3>STORY BEHIND OUR SUCCESS</h3><br>   
    <p>We started very small as all success story begins. And our hunger to know customer's need and work on them has never stop until now. We always make sure to handle your data safe and ensure safe transactions while booking your choice of movies. We are always up to date and have all required data for making you decide your seat and theater for the movies your chose. We love to work on betterments. </p>
    <div>
        <h5>Mantra We Follow</h5><p></p>
        <p>Success reaches to those who attempts to take up risks, dare to do it whole heatedly and give thier 100%.</p>
        <p>Work until you could define success in you own term with all your hardships and satisfactions after those long hard time</p>
    <br><br><p> </p></div>
</div>