
<nav class="navbar navbar-expand-sm bg-primary navbar-dark header"  >
  <!-- Links -->
  <ul class="navbar-nav"  >
    <li class="nav-item" *ngIf=(roleIsAdmin)>
      <a routerLink="getAllMovies" class="nav-link" routerLinkActive="active">Movie List</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsAdmin)>
     <a routerLink="getAllTheater" class="nav-link" routerLinkActive="active">Theater List</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsAdmin)>
      <a routerLink="getAllScreen" class="nav-link" routerLinkActive="active">Screen List</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsAdmin)>
      <a routerLink="getAllTimeSlot" class="nav-link" routerLinkActive="active">TimeSlot List</a>
    </li>
    <li class="nav-item" *ngIf=(roleistrue)>
       <a routerLink="logout" class="nav-link" routerLinkActive="active">Logout</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsUser)>
      <a routerLink="selectMovie" class="nav-link" routerLinkActive="active">Book Ticket</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsUser)>
      <a routerLink="aboutUs" class="nav-link" routerLinkActive="active">About Us</a>
    </li>
    <li class="nav-item" *ngIf=(roleIsUser)>
       <a routerLink="contactUs" class="nav-link" routerLinkActive="active">Contact Us</a>
    </li>
    
   <li class="nav-item" *ngIf=(roleistrue)>
    <a routerLink="logout" class="nav-link" routerLinkActive="active">Logout</a>
  </li>
    <li class="nav-item" *ngIf=(roleIsUser)>
    <div class="search">
          <input type="text"
              placeholder=" Search Movie"
              id="movieName" [(ngModel)]="movieName"
              name="movieName">
            <button (click)="findByMovieName()" class="btn btn-primary" >
              <i class="fa fa-search"
                  style="font-size: 18px;">
              </i>
              Search
              </button><br>
  </div></li>

</ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer" style="margin-top: 10px">
  <div class="container">
      <span>All Rights Reserved 2019 @JavaGuides</span>
  </div>
</footer>